{% extends './../_base.html' %}
{% load static %}

{% block title %}صفحه اصلی{% endblock title %}

{% block main %}

    <div class="container my-5">
        <h1 class="mb-4">{{ page.title }}</h1>
    
        {% for section in sections %}
        <div class="mb-5 ">
            <h2 class="mb-3">{{ section.title }}</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for item in section.items.all %}
                {% if item.course %}
                <div class="col">
                    <div class="card h-100">
                        {% if item.course.thumbnail %}
                        <img src="{{ item.course.thumbnail.url }}" class="card-img-top" alt="{{ item.course.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.course.title }}</h5>
                            <p class="card-text">{{ item.course.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
                {% elif item.category %}
                <div class="col">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.category.name }}</h5>
                            <p class="card-text">{{ item.category.description|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    
    </div>
{% endblock main %}