@font-face {
    font-family: 'vasir';
    src: url('../font/Vazir.ttf');
}


* {
    direction: rtl !important;
    font-family: 'vasir', sans-serif !important;
}

body {
    background-color: #eee !important;
}

div.header {
    background: linear-gradient(90deg, rgba(45, 45, 52, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(27, 94, 148, 1) 85%, rgba(43, 146, 167, 1) 100%);
}

div.shadow>img {
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    height: 80vh;
}

.nav-link,
.navbar-brand {
    color: white !important;
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-link {
  color: #333; 
  text-decoration: none; 
  padding: 10px 15px; 
  transition: color 0.3s ease;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #0056b3; 
}

.navbar-nav .nav-link:after {
  content: '';
  position: absolute; 
  left: 50%; 
  bottom: -5px; 
  height: 2px; 
  width: 0; 
  background: #0056b3; 
  transition: width 0.3s ease, left 0.3s ease; 
}

.navbar-nav .nav-link:hover:after {
  width: 100%; 
  left: 0;
}

.bg-blur{
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
}

.search-box {
    margin-top: 120px;
    max-width: 60%;
    min-width: 30%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-box>input {
    outline: 0;
    border: 0;
    height: 42px !important;
    background: transparent;
    flex: 1;
    border: .5px solid #198754;
    border-left: 0;
    border-radius: 0px 15px 15px 0px;
    padding: .5rem;
    color: white;
}

.search-box>.btn {
    outline: 0;
    padding: .5rem !important;
    height: auto !important;
    flex-shrink: 0;
    border: 1px solid #198754 !important;
    border-right: 0 !important;
    border-radius: 15px 0px 0px 15px !important;
}

.carousel-caption {
    padding-bottom: 20px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: rgb(129, 119, 119) !important;
    background: linear-gradient(0deg, rgba(129, 119, 119, 1) 0%, rgba(86, 86, 86, 1) 70%, rgba(59, 59, 59, 1) 100%) !important;
}

.footer {
    background: linear-gradient(90deg, rgba(45, 45, 52, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(27, 94, 148, 1) 85%, rgba(43, 146, 167, 1) 100%);
    direction: rtl;
}

.searchBox::placeholder {
    color: white
}

.line-clamp-anim {
    max-height: 7.5em;
    /* حدود 5 خط */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.line-clamp-anim.expanded {
    max-height: fit-content;
    /* کل متن */
}
.autocomplete-suggestions {
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    z-index: 1000;
    position: absolute; 
    width: 100%; 
    max-height: 300px; 
    overflow-y: auto; 
    display: none; /* مخفی به صورت پیش‌فرض */
  }
  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    display: block; 
  }
  .autocomplete-suggestion:hover {
    background-color: #e3e3e3; 
  }