<div class="container mt-5 list-group list-group-flush ms-3 mt-3 rounded shadow border border-2 text-start p-4">
    <h3 class="text-center mb-4">دسته‌بندی‌ها</h3>
    <hr>
    <ul>
        {% for category in categories %}
            
                <a data-bs-toggle="collapse" href="#category-{{ category.id }}" role="button" aria-expanded="false" class="text-dark fw-bold text-decoration-none">
                    {{ category.name }}
                </a>
                {% if category.get_children %}
                    <div class="collapse mt-2" id="category-{{ category.id }}">
                        <div class="list-group">
                            {% for sub in category.get_children %}
                                <div class="list-group-item">
                                    <a data-bs-toggle="collapse" href="#sub-{{ sub.id }}" role="button" class="text-dark text-decoration-none">
                                        {{ sub.name }}
                                    </a>
                                    {% if sub.get_children %}
                                        <div class="collapse mt-2" id="sub-{{ sub.id }}">
                                            <div class="list-group">
                                                {% for sub_sub in sub.get_children %}
                                                    <div class="list-group-item">
                                                        {{ sub_sub.name }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <li class="list-group-item rounded list-group-item-action px-3 border-1 rounded-3 list-group-item-info my-1"><a href="{{ course.get_absolute_url }}" class="text-decoration-none">
                    {{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>